/*$primary:  #B9D6F2;
$secondary: #397367;
$blu: #061A40;
$warning: #ffda33;
$danger: #FA0F32;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "blu" : $blu
);


$spacer: 1rem;

$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 6,
    7: $spacer * 9
);

@import "../node_modules/bootstrap/scss/bootstrap";  */



// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #6290E4;
$secondary: #061A40;
$verde: #397367;
$accent: #ffda33;
$danger: #FA0F32;

$white: #fefefe;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #1d72f1;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #b52d3bd8;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$border: 1px;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "verde" : $verde,
    "accent" : $accent,
    "red" : $red
);


// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";




body {
    font-family: sans-serif;
    background-color: $gray-100;
    color: $gray-900;
}

main {
    min-height: calc(100vh - 350px);
}

/*********  HEADER   *******/

#logo {
    width: 3rem;
    height: auto;
}

.nav-link {

    color: white !important;

    &.active {
        color: $accent !important;
        // border-bottom: 3px solid $white;
    } 

    i {
        font-size: 1.5rem;
        line-height: 1;
    }

    .rounded-pill {
        top: 5px;
    }
    
}

nav {
    #liCarrello {
        border-left: solid;
        color: white;

        a{
            margin-left: 0.7rem;
            margin-right: 1rem;
        }
    }
}

.cardDisabled{
    background: rgba(49, 49, 49, 0.451);
}

#cards{
    .card{
        transition: all 0.2s ease-in-out;
    }
}

.zoom{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}



#formLogIn {
    margin-top: 2rem;
    padding: 1rem;

    @include media-breakpoint-up(md) {
        height: 23vh;
        width: 30vh;
    }

    @include media-breakpoint-up(lg) {
        width: 50vh;
        height: auto;
    }


}


/*********  HERO HOME   *******/

#hero {

    .swiper-slide{
        position: relative;
        
        img {
            object-fit: cover; // memo: occupa tutto lo spazio possibile (mantenendo la ratio originale), sotto il vincolo h = 80%
            height: calc(100vh - 4rem);
            width: 100%;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.121);
            pointer-events: none;
            z-index: 1; // memo : funziona come lo spazio cartesiano
        }

        }
    }


    /*********  SERVICE   *******/

#cards {
    div {
        .card {
            background-color: $white;
            width: 200px; /* Imposta la larghezza desiderata */
            height: 300px; /* Imposta l'altezza desiderata */
            border: 0;
            
        }
    }
}

/*********  FONDO HOME   *******/

#mappeEventi{
    #map{
    height: 75%;
    width: 85%;
    }

.month ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary;
    color: white;
    padding: 0.3rem;
    list-style: none;
  }

  .month ul li {
    cursor: pointer;
  }

  .weekdays {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 5px;
  }

  .weekdays li {
    padding: 5px;
  }

  .days {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 5px;
  }

  .days li {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  .prev, .next {
    font-size: 20px;
    cursor: pointer;
    padding: 3rem;
  }

  .available{
    background-color: $success !important;
    color: white;
  }

  .notAvailable{
    background-color: $red !important;
    color: white;
  }

}

/*********  EVENTO   *******/

#hero {
    #map {
        height: 70vh;
        width: 100%;
    }
    i{
        color: $secondary;
    }
}

#calendarIcon {
    height: 40vh;
    width: auto;
    margin: 2rem;
}

/*********  FOOTER   *******/

#fine {
    #socials {
        button {
            color: $accent;
        }
    }
}


/*********  NRWSLETTER   *******/
#inputMsg{
    height: 10vh;
    width: 100%;
}
